//Tablet View
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }  

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;    
    ul {
      display: flex;
    }
    a {
      color: $accent-color;
      font-size: 0.9em;
      font-weight: bold;
    }
    ul.primary-nav {     
      margin: 0;
    }    
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20vh;

    .left-col {
      margin: 5em 3em 0 0em;
      p {
        width: 100%;
      }

      h1 {
        font-size: 1em;
        width: 90%;
      }     
    }
    .hero-img {
      width: auto;
    }
  }
 
  .skills{
    display: flex;
    flex-flow: column wrap;
    h1{
      margin: 0;
    }
  }

  .project-section div {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .project {
      width: 30%;
      margin-bottom: 1.875rem;
      p {
        font-size: 0.875rem;
        line-height: 1.25;
      }
    }
  }


}

// Desktop View

@media only screen and (min-width: 1080px) {
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }  

  .contact-section {
    border-radius: 5px;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .contact-right {
    flex-basis: 50%;
  }
}
